<ion-view title="Mensajes">
  <ion-content padding="'true'" class="has-header">
    <ion-list ng-repeat="message in mensajes">
      <ion-item menu-close="" class="item-thumbnail-left">
        <img src={{message.sender.imageUrl}}  width="40%" height="120" style="width: 40%; height: 120px;">
        <p> Mensaje del {{message.createdAt| date: "dd/MM/yyyy"}}</p>
         Escrito por, <strong>{{message.sender.name}}</strong>
        <br><br>
        <pre style="color:darkcyan"> {{message.text}}</pre>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
