<ion-view title="Reservas">
  <ion-content padding="'true'" class="has-header">
    <div class="row">
      <b>Numero Participantes (1-20)</b>
    </div>
    <div style="margin-top: 1%" class="row">
      <input style="text-align:center;border:2px solid grey;" type="number" name="pin" maxlength="2" size="1"min="0" max="20"
             ng-model="nplayers">
    </div>
    <br>
    <div style="margin-bottom: 2%" class="row">
      <b>Elige un dia para la reserva</b>
    </div>
    <div ng-repeat="day_reg in days_reg" class="row">
      <div class="pure-checkbox">
        <input id="checkbox{{$index}}" name="checkbox" type="checkbox" ng-click="updateSelection($index,!day_reg.checked)" ng-checked=day_reg.checked>
        <label for="checkbox{{$index}}"></label>
      </div>
      <div class="col col-1">
        <span for="nombre" class="col-lg-2 control-label">{{day_reg | date:"MM/dd/yyyy"}}</span><br>
      </div>
    </div>


    <button class="button button-calm button-block" ng-click="addReserva(nplayers)" ng-disabled="!nplayers || !checked">Reservar</button>

    <br><br>
  </ion-content>
